.titleContainer {

	color: #272a2a;
}

.title {
	font-weight: 700;
	font-size: 40px;
	margin-bottom: 40px;
}

.text {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;

}

.contactContainer {
	display: flex;
}

.info {
	width: 45%;
}

.svg {
	display: inline-block;
	margin-bottom: 4rem;
	margin-right: 4px;
}

/* .infoContain {
	display: ;
} */

.infoName {
	font-weight: 600;
	font-size: 1.25rem;
	color: rgba(39, 42, 42, 0.8);
	padding-left: 2rem;
}

.infoText {
	font-size: 1.25rem;
	color: rgba(39, 42, 42, 0.8);
	padding-left: 2rem;
}

.form {
	position: relative;
	border: solid transparent blur(8px);
	background-color: #ffffff;
}

.form::before {
	content: '';
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(209 213 219);
	background-size: 800%;
	border-radius: 8px;
	filter: blur(8px);
}

.bttn {
	cursor: pointer;
	background-color: #272a2af2;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	width: 90%;
}
.blobL {
	background: url('/img/blob-izq.svg') no-repeat;
	background-size: contain;
	max-height: 297px;
	max-width: 337px;
	height: 100%;
	width: 100%;
	position: absolute;
	left: -50px;
	top: -70px;
	filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
	-webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
	background-position: center right;
}

.iconLocation {
	background: url('/img/ubicacion.svg') left center no-repeat;
}
.iconMail {
	background: url('/img/mail.svg') left center no-repeat;
}
.iconWhatsapp {
	background: url('/img/wpp.svg') left center no-repeat;
}
.iconInstagram {
	background: url('/img/ig.svg') left center no-repeat;
}

@media screen and (max-width: 1300px) {
	.blobL {
		height: 30%;
		width: 30%;
		left: -110px;
	}
}
