.titleContainer {
    height: 139px;
    color: #272A2A;
}

.title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 40px;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    width: 550px;
}

.contactContainer {
    display: flex;
}

.info {
    width: 45%;
}

.infoName {
    font-weight: 600;
    font-size: 1.25rem;
    color: rgba(39, 42, 42, 0.8);
}

.infoText {
    font-weight: 300;
    font-size: 1.25rem;
    color: rgba(39, 42, 42, 0.8);
    ;
}

.form {
    position: relative;
    border: solid transparent blur(8px);
    width: 50%;
    background-color: #FFFFFF;
}

.form::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(209 213 219);
    background-size: 800%;
    border-radius: 8px;
    filter: blur(8px);
}

.bttn {
    cursor: pointer;
    background-color: #272A2AF2;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    width: 90%;
}