.navbarDark {
    background-color: rgba(39, 42, 42, 0.9) !important;
    transition: all 0.3s ease-in-out !important;
}

.navbarDarker {
    background-color: rgba(39, 42, 42, 0.9) !important;
    transition: all 0.3s ease-in-out !important;
}

.transparent {
    background-color: rgba(0, 0, 0, 0) !important;
    transition: all 0.3s ease-in-out !important;
}

.brandText {
    background: url('/img/logos/infinity-digital-logo-cropped.svg') no-repeat left center;
    background-size: contain;
    text-indent: -9999px; 
    height: 1.5rem;
    width: 100%;
    white-space: nowrap;   
}

.wrapper {
    max-width: 1280px;
}

.navItem {
    transition: all 0.15s ease-in-out;
}

.active {
    font-weight: 700 !important;
    color: white !important;
    border-bottom: 2px solid white !important;
}

.menuOpenedIcon {
    background: url('/img/menu-outline.svg') no-repeat left center;
    color: transparent;
}

.menuClosedIcon {
    background: url('/img/close-outline.svg') no-repeat left center;
    color: transparent;
}

.inactive:hover {
    font-weight: 700;
    color: white;
    border-bottom: 2px solid white;
}

.inactive:hover::after, .active:hover::after {
    background-color: transparent !important;
}

@media screen and (max-width: 768px) {
.transparent {
    background-color: rgba(39, 42, 42, 0.9) !important;
    transition: all 0.3s ease-in-out !important;
}
}