@keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }

.colorAnimated {
    --bg-size: 400%;
  --color-one: #08E1FE;
  --color-two: #E55AFE;
  /* font-size: clamp(3rem, 25vmin, 8rem); */
  background: linear-gradient(
                45deg,
                var(--color-one),
                var(--color-two),
                var(--color-one)
              ) 0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-bg 20s infinite linear;
}

.blobR {
  background: url('/img/blob-der.svg') no-repeat;
  background-size: contain;
  max-height: 532px;
  max-width: 423px;
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 73%;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  background-position: center right;
}

@media screen and (max-width: 1300px) {
  .blobR {
    height: 50%;
    width: 50%;
    
  }
  
}